/* Colour pallete
    #F101FF
    #FFE7FF
    #E1B2E0
    #6D0085
    #412841
*/ 
/* 
    Fonts
    'Indie Flower', cursive
    'Hubballi', cursive
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    align-items: center;
    font-family: 'Indie Flower', cursive;
}
.container {
    width: 500px;
    height: 500px;
    margin: auto;
}

h1 {color: #F101FF;}

/* output box */
#output-box {
    height: 300px;
    background-color: #FFE7FF;
    color: #412841;
    font-family: 'Hubballi', cursive;
    font-weight: 400;
}
#output-box li{
    list-style-type: none;
    margin-left: 10px;
    padding-top: 10px;
    display: flex;
}
span {width: 85%;}

/* input */
#page-banner,
#add-task {
    height: 100px;
    background-color:#E1B2E0;
    padding: 2% 30% 2% 30%;
}
#add-task {padding: 7% 25% 2%;}
input {
    height: 25px;
    border-radius: 10px;
}

/* buttons */
.delete,
button {
    padding: 3px;
    border-radius: 5px;
    background-color: #F101FF;
    color: #6D0085;
    font-family: 'Hubballi', cursive;
    
}
.delete:hover,
button:hover {
    background-color: #6D0085;
    color: #F101FF;
}